body{
    font-family: Arial;
    margin:0;
    padding:0;
}

h1{
    text-align:center;
}

.app-container{
    display:flex;
    height:90vh;
}


/* COURSES */
.courses-panel{
    width:20%;
    border-right:1px solid #ccc;
    padding:10px;
    overflow-y:auto;
}


/* CHAT */
.chat-panel{
    width:50%;
    padding:10px;
    display:flex;
    flex-direction:column;
}

#messageList{
    flex:1;
    overflow-y:auto;
    border:1px solid #ddd;
    padding:10px;
}


/* MESSAGE INPUT */
.message-input{
    display:flex;
    margin-top:10px;
}

.message-input input{
    flex:1;
    padding:8px;
}


/* NOTES */
.notes-panel{
    width:30%;
    border-left:1px solid #ccc;
    padding:10px;
    overflow-y:auto;
}

#notesList{
    margin-top:10px;
}